


form {

  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 940px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: block;
  background-color: #F2F2F2;
}

.formHeader {
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 400;
  color: solid #000;
}

.inputFieldFlex {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 20px;

}

.inputFieldBlock {
  display: block;
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 16px; 
}

.form-label {
  margin-bottom: 8px; 
  display: block; 
}

/* Helper text */
.form-text {
  font-size: 0.875em;
  color: #666;
}

.buttonDiv {
  display: flex;
  justify-content: flex-end;
}

.formSelect {
  width: 400px;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; 
  margin-bottom: 20px;
  display: block;
}


.form-control {
  width: 400px;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; 
  
}

.form-control2 {
  width: 900px;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; 
  
}

.form-control-small {
  width: 200px;
  height: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; 
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #6CC24A;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #63d636;
}

